<%- include("parts/html_head") %>
<%- include("parts/navbar") %>

<div class="container">
<% if(locals.flashMsg){ %>
    <div class="alert alert-danger" role="alert">
        <%= flashMsg%>
    </div>
<% } %>

<% if(locals.loginUser){ %>
    <div class="alert alert-success" role="alert">
        Hello <%= loginUser %><br>
        <a href="/logout">logout</a>
    </div>
<% } else { %>
    <form method="post">
        <div class="form-group">
            <label for="user">Email address</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="User">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% } %>
</div>

<%- include("parts/scripts") %>
<%- include("parts/html_foot") %>